$jet-black: #0A0A0A;
$ghost-white: #F8F8FF;
$silver: #C0C0C0;
$crayola-blue: #1F75FE;

$facebook-blue: #4267B2;
$twitter-blue: #1877F2;
$google-red: #DB4437;
$github-green: #6cc644;
$stack-overflow-orange: #ef8236;
$linkedin-blue: #0072B1;
$hashnode-blue: #2962FF;
